## Golang ##

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Testing/coverage report
coverage_report

## Other than Golang ##

# compiled using TailwindCSS or managed by yarn
static/css
static/script

# managed by yarn
node_modules

# air build files
tmp

# task file temporary files
.task

#Templ generated
*_templ.go