package about

templ About() {
	<p>About page content</p>
	<button hx-get="/createsprint" hx-target="#sprint-dialog" hx-swap="outerHTML">Create sprint</button>
	<button hx-get="/createuserstory" hx-target="#userstory-dialog" hx-swap="outerHTML">Create user story</button>
	<div id="sprint-dialog"></div>
	<div id="userstory-dialog"></div>

}
