package about

import "net/http"
import "tasklify/internal/web/pages"

func About(w http.ResponseWriter, r *http.Request) error {
	c := about()
	return pages.Layout(c, "My website", r).Render(r.Context(), w)
}

templ about() {
	<p>About page content</p>
	<button hx-get="/createsprint" hx-target="#dialog">Create sprint</button>
	<button hx-get="/createuserstory" hx-target="#dialog">Create user story</button>
}
